header{
    margin-top: 150px;
    text-align: center;
}

img{
    margin-bottom: 30px;
    width: 200px;
}

input{
    border-radius: 5px;
    height: 50px;
    margin-left: 50px;
    margin-top: 20px;
    width: 250px;
}
 span{
     font-size: 1.5em;
 }
