a{
    margin-right: 30px;
}
.btn1{
    color: black;
    border:black 1px solid;
}

.btn{
    color: white;
    border: white 1px solid;
}
 .btn:hover{
     background-color: #376ec7;
     border: #1b396a;
 }

 .btn1:hover{
    background-color: #376ec7;
    border: #1b396a;
    
 }

 span{
     font-size: 2em;
 }

 .but{
     text-align: center;
 }

 .registro{
     margin-top: 15px;
     padding-left:350px;
     
 }

 .form-control{
     width: 300px;
 }

 .col-sm-2 col-form-label
 {
     padding-left: 20%;
 }

 .contra{
     width: 550px;
 }

 .sel{
     width: 550px;
 }



